input {
  border: 1px solid #000;
  border-radius: 8px;
}

/*======================
    404 page
=======================*/

.page_404 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

body {
  background-color: #dde5f4;
}

input[type="text"] {
  width: 100%;
}
.active {
  background-color: aquamarine;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.requried {
  color: rgb(233, 54, 54) !important;
}

.is_invalid {
  border-color: rgb(233, 54, 54);
  color: rgb(233, 54, 54) !important;
}

input {
  padding: 9px 2px 9px 14px !important;
}

.error-message {
  color: #ff0000; /* Red color for error messages */
  font-size: 14px;
  margin-top: 5px;
}

.error {
  border: 1px solid #ff0000;
}
